<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editing <%=food.name%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Bungee&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Edit <%=food.name%> below:</h1>
    <form action="/users/<%=user._id%>/foods/<%=food._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%=food.name%>" required>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" id="brand" value="<%=food.brand%>">
        <label for="foodType">Food Type:</label>
        <select id="foodType" name="foodType">
            <option value="meat" <%= food.foodType === "meat" ? "selected" : "" %>>Meat</option>
            <option value ="fish" <%= food.foodType === "fish" ? "selected" : "" %>>Fish</option>
            <option value ="dairy" <%= food.foodType === "dairy" ? "selected" : "" %>>Dairy</option>
            <option value ="vegetable" <%= food.foodType === "vegetable" ? "selected" : "" %>>Vegetable</option>
            <option value ="fruit" <%= food.foodType === "fruit" ? "selected" : "" %>>Fruit</option>
            <option value ="grain" <%= food.foodType === "grain" ? "selected" : "" %>>Grain</option>
            <option value ="legume" <%= food.foodType === "legume" ? "selected" : "" %>>Legume</option>
            <option value ="nut" <%= food.foodType === "nut" ? "selected" : "" %>>Nut</option>
            <option value ="seed" <%= food.foodType === "seed" ? "selected" : "" %>>Seed</option>
            <option value ="oil" <%= food.foodType === "oil" ? "selected" : "" %>>Oil</option>
            <option value ="sweetener" <%= food.foodType === "sweetener" ? "selected" : "" %>>Sweetener</option>
            <option value ="beverage" <%= food.foodType === "beverage" ? "selected" : "" %>>Beverage</option>
            <option value ="condiment" <%= food.foodType === "condiment" ? "selected" : "" %>>Condiment</option>
            <option value ="supplement" <%= food.foodType === "supplement" ? "selected" : "" %>>Supplement</option>
            <option value ="processed" <%= food.foodType === "processed" ? "selected" : "" %>>Processed</option>
            <option value ="other" <%= food.foodType === "other" ? "selected" : "" %>>Other</option>
        </select>
        <label for="servingSize">Serving Size:</label>
        <input type="text" name="servingSize" id="servingSize" value="<%=food.servingSize%>">
        <label for="calories">Calories (cal):</label>
        <input type="text" name="calories" id="calories" value="<%=food.calories%>">
        <label for="fat">Fat (g):</label>
        <input type="text" name="fat" id="fat" value="<%=food.fat%>">
        <label for="carbohydrates">Carbohydrates (g):</label>
        <input type="text" name="carbohydrates" id="carbohydrates" value="<%=food.carbohydrates%>">
        <label for="protein">Protein (g):</label>
        <input type="text" name="protein" id="protein" value="<%=food.protein%>">
        <label for="sodium">Sodium (mg):</label>
        <input type="text" name="sodium" id="sodium" value="<%=food.sodium%>">
        <label for="cholesterol">Cholesterol (mg):</label>
        <input type="text" name="cholesterol" id="cholesterol" value="<%=food.cholesterol%>">
        
        <div>
            <label>Running Low:</label>
            <input type="radio" name="isLow" value="true" id="isLowTrue"
              <%= food.isLow === true ? "checked" : "" %>>
            <label for="isLowTrue">Yes</label>

            <input type="radio" name="isLow" value="false" id="isLowFalse"
              <%= food.isLow === false ? "checked" : "" %>>
            <label for="isLowFalse">No</label>
        </div>
        <button type="submit" id="formButton">
            Update Food
        </button>
    </form>

  </body>
</html>