<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= food.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Bungee&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1><%=food.name%></h1>
    <ul>
        <li>Food Type: <%=food.foodType%></li>
        <li>Brand: <%=food.brand%></li>
        <li>Serving Size: <%=food.servingSize%></li>
        <li>Calories: <%=food.calories%></li>
        <li>Fat: <%=food.fat%></li>
        <li>Carbohydrates: <%=food.carbohydrates%></li>
        <li>Protein: <%=food.protein%></li>
        <li>Sodium: <%=food.sodium%></li>
        <li>Cholesterol: <%=food.cholesterol%></li>
        <li>Running Low: <%=food.isLow%></li>
    </ul>

    <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">
        <button type="button">Edit this food</button>
    </a>


    <form action="/users/<%=user._id%>/foods/<%=food._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete this food</button>
    </form>
    
  </body>
</html>
